
@media (min-width: 1000px) {
  .header {

    .mobile-menu {
      &__container {
        position: initial;
        height: initial;
      }

      &__link {
        color: $primary-color;
      }

      &__list {
        display: flex;
        overflow: initial;
      }

      &__item {
        font-size: 2em;
      }

      &__btn {
        display: none;
      }

    }
  }
}