.main {
  &__landing {
    &__title-other-pages {
      font-size: $page-titles-h2;
      font-family: $font-stack-bold;
      padding: 3em 0 2em 0;
    }

  }

  &__sections {
    &__section {
      position: relative;
      margin-bottom: $section-margin-bottom;
      padding: 2em;
      box-shadow: $shadow;
      background-color: $white;
      color: $primary-color;

      &__toit {
        position: absolute;
        top: -30%;
        left: 0;
        min-width: 100%;
      }

      img {
        width: 100%;
      }

      h3 {
        font-family: $font-stack-bold;
        font-size: $section-h3;
      }

      #italic-p {
        font-family: $font-stack-italic;
      }

      p:first-of-type {
        padding-top: 1em;
      }

      p {
        font-family: $font-stack-normal;
        font-size: 1em;
        line-height: 1.3em;
        padding-bottom: 1em;
      }

      ul {
        list-style: none;
        line-height: 1.2em;

        li {
          position: relative;
          font-family: $font-stack-normal;
          padding-bottom: .5em;
          margin-left: 1.3em;
        }

        li:before {
          position: absolute;
          top: .5em;
          left: -1.3em;
          content: "";
          width: 1em;
          height: 1em;
          background-image: url($list-dots);
          background-repeat: no-repeat;
        }
      }

      &__img-before-text {
        padding-bottom: 2.5em;
      }

      &__btn-container {
        padding-top: 2em;
        text-align: center;

        &__btn-white {
          color: $primary-color;
          background-color: $white;
        }

        &__btn {
          color: $white;
          background-color: $primary-color;

        }

        &__btn, &__white-btn {
          display: inline-block;
          text-decoration: none;
          font-size: $btn-font-size;
          box-shadow: $shadow;
          padding: $buttons-padding;
          transition: .4s ease-in-out;
        }

        &__btn:active {
          font-size: 1.2em;
          box-shadow: none;
        }

        &__btn:hover {
          transform: scale(1.3);
        }
      }
    }

    &__section:last-of-type {
      margin-bottom: 0;
    }
  }
}

@import "a-propos-mediaqueries/a-propos-over-800-px";
@import "a-propos-mediaqueries/a-propos-over-1200px";
