html {
  scroll-behavior: smooth;
}

.hidden-title {
  overflow: hidden !important;
  font-size: 0 !important;
  text-indent: -100000px !important;
  position: absolute;
}

/*body{
  background-image: url($landing-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}*/

body {
  background-image: url($landing-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main {
  background-color: rgba(0,0,0,.5);

  &__landing {
    text-align: center;
    color: $white;

    #main__landing__title {
      font-size: $sef-title;
      font-family: $font-stack-bold;
    }

    p:first-of-type {
      padding-top: 5em;
      padding-bottom: 1em;
    }

    p {
      font-family: $font-stack-normal;
      font-size: 2em;
      padding-bottom: 3em;
    }

    figure {
      img {
        width: 100%;
        transform: translateY(.35em);
      }
    }
  }

  &__sections {
    background-color: $primary-color;
    padding-top: $section-margin-bottom;
    padding-bottom: $section-margin-bottom;

    &__others-p {
      font-family: $font-stack-normal;
      font-size: $section-h3;
      background-color: $white;
      margin-bottom: 1em;
      padding: 2em 0 2em 0;
      box-shadow: $shadow;
      text-align: center;

      &__links {
        color: $primary-color;
        background-image: url($fleche-links);
        background-repeat: no-repeat;
        background-position: right;
        background-size: .5em;
        padding-right: .8em;
        text-decoration: none;
        transition: all .3s ease-in-out;
      }

      &__links:hover {
        text-decoration: underline;
        padding-right: 1.2em;
      }
    }
  }
}

@import "accueil-mediaqueries/accueil-over-800px";
@import "accueil-mediaqueries/accueil-over-1300px";