.main {
  &__sections {
    &__blog {
      margin-bottom: $section-margin-bottom;
      padding: 2em;
      box-shadow: $shadow;
      background-color: $primary-color;

      &__post {
        padding-bottom: 1.25em;
        border-bottom: 2px solid $white;
        margin-bottom: 4em;

        h4 {
          font-family: $font-stack-bold;
          font-size: $h4;
        }
        p:last-of-type{
          padding-top: 1.7em;
        }

        p {
          font-family: $font-stack-normal;
        }
      }
    }
  }
}