
.footer {
  padding: 3em 1em;
  background-color: $white;
  color: $primary-color;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em 6em;

  &__section {
    font-family: sans-serif;

    &__title {
      font-family: $font-stack-bold;
      font-size: 1.5em;
      padding-bottom: .8em;
    }

    &__list {
      list-style: none;
      font-size: 1.1em;

      &__item {
        font-family: $font-stack-normal;
        margin-bottom: .5em;
        line-height: 1.5em;

        &__link, &__mail, &__nav {
          padding: .5em 1.5em .5em 0;
          font-family: $font-stack-normal;
          color: $primary-color;
          text-decoration: underline;
        }

        &__link:hover, &__mail:hover, &__nav:hover{
          text-decoration: none;
        }
      }
    }


    &__item {
      &__facebook {

      }
    }
  }
}

@import "footer-mediaqueries/footer-phone-tablette";